@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body {
    margin: 0;
    font-family: Han Sans TW;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}



/*-------header------*/
header {
    min-height: 65px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding-top: 5px;
}

.header-space {
    height: 73px;
}

@media screen and (max-width:992px) {
    .header-space {
        height: 65px;
    }
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background: #0089d1;
    background: linear-gradient(to right, #0089d1 5%, #01b6b2 95%);
}

.navbar__list__item {
    position: relative;
}

.navbar__list__item--border:after {
    display: inline-block;
    content: '';
    height: 16px;
    border-right: 2px solid #989898;
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-55%);
}

@media screen and (max-width:992px) {
    .navbar__list__item--border:after {
        display: inline-block;
        content: '';
        height: 16px;
        border-right: none;
        position: absolute;
        top: 55%;
        right: 0;
        transform: translateY(-55%);
    }
}

.navbar__list {
    justify-content: flex-end;
    font-size: 16px;
    color: #333;
}

@media screen and (max-width:992px) {
    .navbar__list {
        margin: 12px -1rem 0;
    }

    .navbar-nav li {
        border-top: #c9c9c9 solid 1px;
    }
}

.nav__item__line {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
}

.nav__item__line:hover {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: 0 -30px;
}

.nav__item__fb {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px 0;
}

.nav__item__fb:hover {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px -30px;
}

/*-----Master vision-----*/
.master_vision {
    background-image: url('../img/catch_by_online/kv_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

@media screen and (max-width:992px) {
    .master_vision {
        background-image: url('../img/catch_by_online/kv_bg_p.jpg');
        min-height: 550px;
    }
}

@media screen and (max-width:768px) {
    .master_vision {
        min-height: auto;
        background-image: none;
    }
}

.master_vision-container {
    height: 500px;
}

.master_vison__title {
    max-width: 540px;
}

.master_vision__title__solgan {
    max-width: 540px;
}

@media screen and (max-width:992px) {
    .master_vision__title__solgan {
        max-width: 410px;
    }
}

.master_vision__deer {
    max-width: 390px;
    left: 50%;
    right: 0;
    top: 100px;
    margin: auto;
}

@media screen and (max-width:1200px) {
    .master_vision__deer {
        max-width: 330px;
        left: auto;
        right: 0;
        top: 150px;
        margin: 0;
    }
}

/*-------btn__bg---------*/
.button {
    position: relative;
    background-color: #E0F6FF;
}

/* @media screen and (max-width:768px) {
    .button {
        position: sticky;
        top: 20px;
    }
}    */

.button::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: -50px;
    left: 0;
    z-index: 1;
    background: -webkit-linear-gradient(top, rgba(224, 246, 255, 0) 0%, rgba(221, 241, 249, 0.36) 10%, rgba(221, 241, 249, 0.5) 14%, rgba(222, 242, 250, 1) 32%, rgba(224, 246, 255, 1) 100%);
}

.button__group {
    position: relative;
    top: -50px;
}

.button__content {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    background-color: #EBFFD0;
    box-shadow: 6px 6px 0px 2px rgba(198, 219, 165, 1);
    list-style-type: none;
    text-decoration: none;
    color: #528B3B;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}



.btn__content {
    position: relative;
}

@media screen and (max-width:430px) {
    .btn__content {
        font-size: 12px;
    }
}

.btn__content:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -2px;
    top: -4px;
    width: 2px;
    height: 71px;
    border-left: 2px dotted #C6DBA5;
    opacity: 1;
}

@media screen and (max-width:1200px) {
    .button__content {
        padding: 20px 10px;
    }

    .btn__img3 {
        padding-top: 10px;
        width: 90px;
    }
}

@media screen and (max-width:992px) {
    .btn__content:before {
        position: absolute;
        left: 0px;
    }

    .button__content {
        height: 80px;
        font-size: 16px;
        padding: 8px 10px;
    }

    .btn__img1 {
        height: 50px;
    }

    .btn__img2 {
        height: 50px;
    }

    .btn__img3 {
        padding-top: 10px;
        width: 70px;
    }
}

@media screen and (max-width:768px) {
    .button__content {
        width: auto;
        text-align: center;
        font-size: 15px;
        height: 90px;
        border-radius: 0;
        box-shadow: none;
        color: #528B3B;
        background-color: transparent;
        padding: 8px 0;
    }

    .button_mb_bg {
        background-color: #EBFFD0;
    }

    .button::before {
        display: none;
    }

    .button__group {
        position: relative;
        top: 0px;
    }

    .btn__content:before {
        border-left: 0;
    }

    .btn__img1 {
        height: 30px;
    }

    .btn__img2 {
        height: 30px;
    }

    .btn__img3 {
        padding-top: 0px;
        padding-bottom: 2px;
        width: 60px;
    }

    .border_mb {
        border-left: 2px dotted #C6DBA5;
    }
}

@media screen and (max-width:576px) {
    .br{
        display: none;
    }
}

/*------Raider_owl--------------------------------------------------------------*/
.invite{
    background-color: #E0F6FF;
}

@media screen and (max-width:576px) {
    .invite{
        overflow-x: hidden;
    }
}

.invite__container{
    max-width: 1140px;
}

.invite__main{
    position: relative;
    width: 371px;
    height: 51px;
    background-image: url('../img/Group\ 2908.png');
}

.invite_main_pic2{
    position: absolute;
    top: 8px;
    right: 6%;
}

.invite_main_pic2_act{
    transition-delay: 1s;
    transform: rotate(180deg);
}

.invite_main_pic3{
    position: absolute;
    top: -35px;
    left: -65px;
    z-index: 10;
}

.invite_main_pic4{
    position: absolute;
    top: 20px;
    right: -60px;
}



.invite__title {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-55%);
    color: #4578BE;
    font-size: 30px;
    white-space:nowrap;
    font-weight: bold;
}

.invite__subtitle{
    color:#012D6C;
    font-size: 18px;
}

@media screen and (max-width:992px) {
    .invite__title {
        position: absolute;
        left: 50%;
        top: 8px;
        transform: translateX(-55%);
        color: #4578BE;
        font-size: 24px;
        white-space:nowrap;
        font-weight: bold;
    }
}

@media screen and (max-width:768px) {
    .invite__main{
        max-width: 271px;
        background-position: center;
        background-image: url('../img/Group\ 2908.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .invite__title {
        position: absolute;
        left: 48%;
        top: 5px;
        padding-top:5px;
        font-size: 22px;
        font-weight: normal;
    }

    .fail__main__subtitle {
        position: absolute;
        top: 66px;
        left: 50%;
        transform: rotate(-2deg) translateX(-52%);
        font-size: 18px;
    }

    .invite_main_pic2{
        position: absolute;
        top: 12px;
        right: 6%;
        width: 21px;
    }

    .invite_main_pic3{
        position: absolute;
        top: -25px;
        left: -65px;
    }
    .invite_main_pic4{
        position: absolute;
        top: 20px;
        right: -55px;
    }
    

    .invite__subtitle{
        color:#012D6C;
        font-size: 16px;
    }
}


.invite_content__img1{
    position:absolute;
    top:-90px;
    left: -80px;
}

.invite_content__img2{
    position:absolute;
    top:-80px;
    left: -80px;
    z-index: 10;
}

.invite_content__img3{
    position:absolute;
    bottom:-50px;
    right: -80px;
    z-index: 10;
}

@media screen and (max-width:1200px) {
    .invite_content__img1{
        position:absolute;
        top:-70px;
        left: -50px;
        width: 130px;
    }
    
    .invite_content__img2{
        position:absolute;
        top:-80px;
        left: -65px;
        z-index: 10;
        width: 90px;
    }
    
    .invite_content__img3{
        position:absolute;
        bottom:-75px;
        right: -20px;
        z-index: 10;
        width: 90px;
    }
}



.invite__card{
width: 100%;
height: 364px;
background-color: white;
border-radius: 10px;
overflow: hidden;
box-shadow: 0px 3px 6px #00000029;
}

@media screen and (max-width:992px) {
    .invite__card{
        height: 390px;
        }
}

.new_tag{
    position:absolute;
    top: 20px;
    width: 78px;
    height: 33px;
    color: white;
    background-color: #01A8A4;
    box-shadow: 2px 2px 5px #00000029;
}

.invite-card__content__title{
    color: #4578BE;
    font-size: 24px;
    white-space:nowrap;
    font-weight: bold;
}

.invite-card__content__bio{
    color:#666666;
    font-size: 16px;
    text-align:start;
}
/*----mission_failed------*/
.fail__img1 {
    position: absolute;
    top: 30px;
    left: 0;
}

.fail__img2 {
    position: absolute;
    top: 30px;
    right: 0;
}

@media screen and (max-width:1200px) {
    .fail__img1 {
        width: 300px;
    }

    .fail__img2 {
        width: 300px;
    }
}

@media screen and (max-width:992px) {
    .fail__img1 {
        display: none;
    }

    .fail__img2 {
        display: none;
    }
}

.fail__img3 {
    position: absolute;
    bottom: 15px;
    right: 80px;
}

@media screen and (max-width:768px) {
    .fail__img3 {
        width: 136px;
        height: 62px;

        right: 20px;
    }
}

.fail__container {
    max-width: 1430px;
}

.mission_failed {
    background-color: #E0F6FF;
    position: relative;
}

.fail__main {
    margin-bottom: 10px;
    position: relative;
    color: #4578BE;
    font-weight: bold;
}

.fail__main__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.fail__main__subtitle {
    position: absolute;
    top: 66px;
    left: 50%;
    transform: rotate(-2deg) translateX(-52%);
    font-size: 28px;
    white-space: nowrap;
}

.fail__bio {
    font-size: 20px;
    color: #4578BE;
}

@media screen and (max-width:992px) {
    .fail__main__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
    }

    .fail__main__subtitle {
        position: absolute;
        top: 72px;
        left: 50%;
        transform: rotate(-2deg) translateX(-52%);
        font-size: 22px;
    }

    .fail__bio {
        font-size: 16px;
        line-height: 1.5;
    }

}


@media screen and (max-width:768px) {
    .gift_main_pic {
        width: 300px;
    }

    .fail__main__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        top: 0px;
    }

    .fail__main__subtitle {
        position: absolute;
        top: 66px;
        left: 50%;
        transform: rotate(-2deg) translateX(-52%);
        font-size: 18px;
    }

    .fail__bio {
        font-size: 16px;
    }
}

@media screen and (max-width:576px) {
    .gift_main_pic {
        width: 240px;
    }

    .fail__main__subtitle {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: rotate(-2deg) translateX(-52%);
        font-size: 18px;
    }

}

.fail_gift__img1 {
    background-image: url('../img/Group\ 2544.png');
    background-position: right 30px top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 290px;
    width: 100%;
}

.fail_gift__img2 {
    background-image: url('../img/Group\ 2677.png');
    background-position: left 30px top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 290px;
    width: 100%;
}

.fail_gift__img3 {
    background-image: url('../img/Group\ 3037.png');
    background-position: right 30px top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 290px;
    width: 100%;
}

@media screen and (max-width:768px) {

    .fail_gift__img1,
    .fail_gift__img2,
    .fail_gift__img3 {
        height: 182px;
    }
}
@media screen and (max-width:576px) {

    .fail_gift__img1,
    .fail_gift__img2,
    .fail_gift__img3 {
        height: 144px;
    }
}

.fail__group {
    padding: 50px 50px;
}

@media screen and (max-width:768px) {
    .fail__group {
        padding: 30px 30px;
    }
}

.fail__group__title {
    position: absolute;
    color: #4578BE;
    font-size: 26px;
    font-weight: bold;
    top: 4px;
    left: 18px;
}

.fail__group_subtitle {
    color: #4578BE;
    font-size: 24px;
    font-weight: bold;
}

.fail__group__content {
    color: #012D6C;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .group_img {
        width: 176px;
    }

    .fail__group__title {
        font-size: 16px;
    }

    .fail__group_subtitle {
        font-size: 18px;
    }

    .fail__group__content {
        font-size: 16px;
    }
}


.direction {
    text-align: start;
    color: #012D6C;
    padding-left: 80px;
    margin-bottom: 100px;
}

@media screen and (max-width:576px) {
    .direction {
        text-align: center;
        color: #012D6C;
        font-size: 15px;
        padding-left: 0;
        margin:20px 0 0 0;
    }
}

/*----mission_passed------*/

.passed__img1 {
    position: absolute;
    top: 400px;
    left: 45px;
}

.passed__img2 {
    position: absolute;
    top: 885px;
    left: 120px;
}

.passed__img3 {
    position: absolute;
    top: 235px;
    right: 170px;
}

.passed__img4 {
    position: absolute;
    top: 813px;
    right: 32px;
}

@media screen and (max-width:1150px) {
    .passed__img2 {
        display: none;
    }

    .passed__img4 {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .passed__img1 {
        display: none;
    }

    .passed__img3 {
        width: 30px;
        right: 100px;
    }
}

.mission_passed {
    position: relative;
    padding-top: 70px;
    background-color: #ceeeff;
}

@media screen and (max-width:768px) {
    .mission_passed {
        position: relative;
        padding-top: 40px;
        background-color: #ceeeff;
    }
    
}

.mission_passed:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 2;
    top: -50px;
    background-position: center top;
    background-image: url('../img/catch_by_online/wave_up.png');
}

.mission_passed::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 2;
    bottom: -50px;
    background-position: center top;
    background-image: url('../img/catch_by_online/wave_down.png');
}

.pass__main {
    margin-bottom: 55px;
    position: relative;
    color: #4578BE;
    font-weight: bold;
}

.deer_img{
    max-width: 100%;
    height: auto;
    border: 0;
}

.pass__main__title {
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-30%);
    font-size: 32px;
}



.pass__main__subtitle {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: rotate(-2deg) translateX(-32%);
    font-size: 34px;
}

@media screen and (max-width:768px) {
    .pass_main_img {
        width: 300px;
    }

    .pass__main__title {
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-30%);
        font-size: 22px;
    }

    .pass__main__subtitle {
        width: 220px;
        position: absolute;
        top: 54px;
        left: 50%;
        transform: rotate(-2deg) translateX(-35%);
        font-size: 24px;
    }
}
.pass__rule {
    max-width: 810px;
    background-color: white;
    border-radius: 42px;
    overflow: hidden;
}

.pass__rule__title {
    color: #4073A7;
    font-size: 24px;
    font-weight: bold;
}

.pass__rule__content {
    color: #4073A7;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .pass__rule__title {
        font-size: 18px;
        font-weight: normal;
    }
    
    .pass__rule__content {
        font-size: 16px;
        font-weight: normal;
    }


}

.pass-container {
    max-width: 930px;
}

.pass-img2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.pass__gmae_title {
    color: #4578BE;
    font-size: 24px;
    font-weight: bold;
}

.pass__gmae_content {
    color: #62AF40;
    font-size: 20px;
    font-weight: bold;
}


.limit {
    position: absolute;
    font-size: 18px;
    top: 5px;
    left: 14px;
}

.blueline {
    position: relative;
}

.blueline:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 20px;
    width: 2px;
    height: 370px;
    border-left: 1px solid #195796;
    opacity: 1;
}

.blueline2 {
    width: 600px;
    height: 1px;
    margin: 0 auto 20px;
    background: #195796;
}


@media screen and (max-width:992px) {
    .limit {
        position: absolute;
        font-size: 16px;
        top: 4px;
        left: 18px;
    }

    .pass__gmae_title {
        font-size: 20px;
    }

    .pass__gmae_content {
        font-size: 18px;
    }

    .blueline:before {
        display: none;
    }

    .pass-img2 {
        padding-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .pass__gmae_title {
        font-size: 18px;
    }

    .pass__gmae_content {
        font-size: 18px;
        font-weight: normal;
    }
}
/*------precautions-------*/
.precautions {
    background-color: #E0F6FF;
    padding-top: 130px;
    padding-bottom: 16px;
}

.precautions__img1 {
    position: absolute;
    left: 0;
    top: 60px;
}

.precautions__img2 {
    position: absolute;
    right: 0;
    top: 65px;
}

.precautions__img3 {
    position: absolute;
    left: 0;
    top: 385px;
}

.precautions__img4 {
    position: absolute;
    right: 0;
    top: 890px;
}

@media screen and (max-width:1370px) {
    .precautions__img3 {
        width: 100px;
        opacity: 0.3;
    }

    .precautions__img4 {
        width: 100px;
        opacity: 0.3;
    }
}

@media screen and (max-width:768px) {
    .precautions {
        padding-top: 70px;
    }

    .precautions__img1 {
        width: 150px;
    }

    .precautions__img2 {
        width: 150px;
    }
}

@media screen and (max-width:576px) {
    .precautions__img1 {
        top: 90px;
        width: 100px;
    }

    .precautions__img2 {
        top: 90px;
        width: 100px;
    }
}

.precautione__content {
    color: #012D6C;
    line-height: 1.5;
}

.precaution__title__click {
    max-width: 800px;
    color: #195796;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width:768px) {
    .precaution__title__click {
        margin-bottom: 0px;
    }
}

.notice_span {
    margin-left: -20px;
    position: relative;
}

.notice_span:before {
    content: "";
    position: absolute;
    right: -25px;
    top: 14px;
    border-style: solid;
    transition: transform .5s;
    transform: rotate(180deg);
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent #195796 transparent;
    opacity: 0.5;
}

@media screen and (max-width:576px) {
    .precaution__title__click {
        font-size: 24px;
    }
    
    .notice_span:before {
        content: "";
        position: absolute;
        right: -25px;
        top: 8px;
    }
}

.notice_span_act:before {
    transition: transform .5s;
    transform: rotate(0deg);
}


.precautione__content__link {
    color: #D07A25;
}

/*-----Add_Fun_group-----*/
.bottom__bg__pic {
    background-image: url('../img/catch_by_online/appdownload_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /*令圖片置底*/
    overflow: hidden;
    background-color: #E0F6FF;
}

.add_fun_group {
    position: relative;
    text-align: center;
    z-index: 10;
}

.grayline {
    width: 50px;
    height: 1px;
    margin: 0 auto 20px;
    background: #7c7c7c;
    margin-bottom: 20px;
}

.add_fun__title {
    color: #195796;
    font-size: 30px;
    margin-bottom: 7px;
    font-weight: bold;
}

.add_fun__subtitle {
    color: #012D6C;
    font-size: 18px;
    margin-bottom: 22px;
}

@media screen and (max-width:576px) {
    .add_fun__title {
        font-size: 22px;
    }

    .add_fun__subtitle {
        font-size: 16px;
    }
    
}

.add_fun__app{
    margin-bottom: 13px;
}

.add_fun__download__app {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0 5px;
}


.add_fun__app__img{
    width: 110px;
}

.common_share a{
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .common_share a{
        display: inline-block;
        margin: 0 0;
        width: 49%;
    }
}

@media screen and (max-width:576px) {


    /* .add_fun__download__app__img {
        max-width: 120px;
    }

    .add_fun__download__app{
        max-width: 140px;
    } */

    .bottom__bg__pic{
        background-image: none;
        position: relative;
    }

    .bottom__bg__pic:before{
        content: "";
        width: 100%;
        height: 380px;
        display: inline-block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-position: left bottom;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/catch_by_online/appdownload_bg_bottom_m.svg');
    }

    .bottom__bg__pic:after{
        content: "";
        width: 100%;
        height: 300px;
        display: inline-block;
        position: absolute;
        left: 0px;
        top: -30px;
        background-position: left bottom;
        z-index:1;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/catch_by_online/appdownload_bg_m.png');
    }
}

/*-----update-vision-----*/
.update_vision {
    text-align: end;
    font-size: 16px;
    color: #7c7c7c;
    padding: 8px 0;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

/*-------footer----------*/
.footer-container {
    max-width: 960px;
    padding: 0 15px;
}


.footer-link ul li:first-child a:before {
    /*使第一個a的before失效*/
    display: none;
}

footer {
    padding: 32px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.footer-link ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-link ul li {
    padding-left: 10px;
    height: 25px;
    display: inline-block;
    /*直的變橫的*/
}

.footer-link ul li a {
    color: #00410D;
    text-decoration: none;
    margin: 0 10px;
}

.about {
    font-family: JhengHei;
    letter-spacing: 0px;
    color: #00410D;
    font-size: 12PX;
}