@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body {
    margin: 0;
    font-family: Han Sans TW;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}



/*-------header------*/
header {
    min-height: 65px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header__container {
    padding-top: 5px;
}

.header-space {
    height: 73px;
}

@media screen and (max-width:992px) {
    .header-space {
        height: 65px;
    }
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background: #0089d1;
    background: linear-gradient(to right, #0089d1 5%, #01b6b2 95%);
}

.navbar__list__item {
    position: relative;
}

.navbar__list__item--border:after {
    display: inline-block;
    content: '';
    height: 16px;
    border-right: 2px solid #989898;
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-55%);
}

@media screen and (max-width:992px) {
    .navbar__list__item--border:after {
        display: inline-block;
        content: '';
        height: 16px;
        border-right: none;
        position: absolute;
        top: 55%;
        right: 0;
        transform: translateY(-55%);
    }
}

.navbar__list {
    justify-content: flex-end;
    font-size: 16px;
    color: #333;
}

@media screen and (max-width:992px) {
    .navbar__list {
        margin: 12px -1rem 0;
    }

    .navbar-nav li {
        border-top: #c9c9c9 solid 1px;
    }
}

.nav__item__line {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
}

.nav__item__line:hover {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: 0 -30px;
}

.nav__item__fb {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px 0;
}

.nav__item__fb:hover {
    display: inline-block;
    width: 100%;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-image: url('../img/media.png');
    background-repeat: no-repeat;
    background-size: 90px 60px;
    background-position: -30px -30px;
}

/*-----Master vision-----*/
.master_vision {
    background-image: url('../img/catch_by_online/kv_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

@media screen and (max-width:992px) {
    .master_vision {
        background-image: url('../img/catch_by_online/kv_bg_p.jpg');
        height: 550px;
    }
}

@media screen and (max-width:768px) {
    .master_vision {
        background-image: url('../img/catch_by_online/kv_m.png');
        height: 717px;
    }
}

.master_vision-container {
    height: 500px;
}

.master_vison__title {
    max-width: 540px;
}

.master_vision__title__solgan {
    max-width: 540px;
}

@media screen and (max-width:992px) {
    .master_vision__title__solgan {
        max-width: 410px;
    }
}

.master_vision__deer {
    max-width: 390px;
    left: 50%;
    right: 0;
    top: 100px;
    margin: auto;
}

@media screen and (max-width:1200px) {
    .master_vision__deer {
        max-width: 330px;
        left: auto;
        right: 0;
        top: 150px;
        margin: 0;
    }
}

/*-------btn__bg---------*/
.button{
    position: relative;
    background-color: #E0F6FF;
}

.button::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: -50px;
    left: 0;
    z-index:1;
    background: -webkit-linear-gradient(top,  rgba(224,246,255,0) 0%,rgba(221,241,249,0.36) 10%,rgba(221,241,249,0.5) 14%,rgba(222,242,250,1) 32%,rgba(224,246,255,1) 100%);
} 

.button__group{
    position: relative;
    top: -50px;
}

.button__content {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    background-color: #EBFFD0;
    box-shadow: 6px 6px 0px 2px rgba(198, 219, 165, 1);
    list-style-type: none;
    text-decoration: none;
    color: #528B3B;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
}

.btn__content{
    position:relative;
}

.btn__content:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -2px;
    top: -4px;
    width: 2px;
    height: 71px;
    border-left: 2px dotted #C6DBA5;
    opacity: 1;
}

/*----mission_failed------*/
.mission_failed{
    background-color: #E0F6FF;
}
/*----mission_passed------*/


.passed__img1{
    position: absolute;
    top: 400px;
    left: 45px;
}

.passed__img2{
    position: absolute;
    top: 885px;
    left: 120px;
}

.passed__img3{
    position: absolute;
    top: 235px;
    right: 170px;
}

.passed__img4{
    position: absolute;
    top: 813px;
    right: 32px;
}

.mission_passed{
    position: relative;
    background-image: url('../img/Group\ 2684.png');
    margin: -30px 0 -30px;
    z-index: 11;
    padding-top:70px;

}

.pass__main{
    margin-bottom: 55px;
    position: relative;
    color: #4578BE;
    font-weight: bold;
}

.pass__main__title{
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-30%);
    font-size: 32px;
}

.pass__main__subtitle{
    position: absolute;
    top: 72px;
    left: 50%;
    transform: rotate(-2deg) translateX(-32%);
    font-size: 34px;
}

.pass__rule{
    max-width: 810px;
    height: 160px;
    background-color: white;
    border-radius: 42px;
    overflow: hidden;
}

.pass__rule__title{
    color: #4073A7;
    font-size: 24px;
    font-weight: bold;
}

.pass__rule__content{
    color: #4073A7;
    font-size: 20px;
    font-weight: bold;
}

.pass-container{
max-width: 930px;
}

.pass-img2{
padding-top: 30px;
padding-bottom: 50px;
}
/*------precautions-------*/
.precautions{
    background-color: #E0F6FF;
    padding-top: 130px;
    padding-bottom: 16px;
}
.precautions__img1{
    position: absolute;
    left: 0;
    top: 60px;
}

.precautions__img2{
    position: absolute;
    right: 0;
    top: 65px;
}

.precautions__img3{
    position: absolute;
    left: 0;
    top: 385px;
}

.precautions__img4{
    position: absolute;
    right: 0;
    top: 890px;
}

.precautione__content{
    color: #012D6C;
    line-height: 1.5;
}

.precaution__title__click{
max-width: 800px;
color: #195796;
font-size: 30px;
font-weight: bold;
margin-bottom: 20px;
cursor: pointer;
position: relative;
}

.notice_span{
    margin-left: -20px;
    position: relative;
}

.notice_span:before{
    content:"";
    position: absolute;
    right: -25px;
    top: 14px;
    border-style: solid;
    transition: transform .5s;
    transform: rotate(180deg);
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent #195796 transparent;
    opacity: 0.5; 
}

.notice_span_act:before{
    transition: transform .5s;
    transform: rotate(0deg);
}


.precautione__content__link{
    color:#D07A25;
}

/*-----Add_Fun_group-----*/
.bottom__bg__pic {
    background-image: url('../img/catch_by_online/appdownload_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /*令圖片置底*/
    overflow: hidden;
    background-color: #E0F6FF;
}

.add_fun_group {
    position: relative;
    text-align: center;
}

.grayline {
    width: 50px;
    height: 1px;
    margin: 0 auto 20px;
    background: #7c7c7c;
    margin-bottom: 20px;
}

.add_fun__title {
    color: #195796;
    font-size: 30px;
    margin-bottom: 7px;
    font-weight: bold;
}

.add_fun__subtitle {
    color: #012D6C;
    font-size: 18px;
    margin-bottom: 22px;
}

.add_fun__app {
    margin-bottom: 13px;
    
}

.add_fun__download__app {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin: 0 5px;
}

.add_fun__download__app__img {
    margin-bottom: 9px;
}

/*-----update-vision-----*/
.update_vision {
    text-align: end;
    font-size: 16px;
    color: #7c7c7c;
    padding: 8px 0;
    font-weight: bold;
}

/*-------footer----------*/
.footer-container {
    max-width: 960px;
    padding: 0 15px;
}


.footer-link ul li:first-child a:before {
    /*使第一個a的before失效*/
    display: none;
}

footer {
    padding: 32px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.footer-link ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-link ul li {
    padding-left: 10px;
    height: 25px;
    display: inline-block;
    /*直的變橫的*/
}

.footer-link ul li a {
    color: #00410D;
    text-decoration: none;
    margin: 0 10px;
}

.about {
    font-family: JhengHei;
    letter-spacing: 0px;
    color: #00410D;
    font-size: 12PX;
}